<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/fde0352739.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://bermuda-css.netlify.app/style.css" />
    <link rel="stylesheet" href="../style.css" />
    <title>The Quiz</title>
  </head>
  <body>
    <div class="root">
      <div class="whole-content result-page">
        <header>
          <nav class="nav">
            <div class="nav__logo">
              <h2>
                <a href="../index.html" class="text-offwhite"> The Quiz</a>
              </h2>
            </div>
            <ul class="nav__links">
              <li><a class="btn btn-link" href="./quizes.html">Home</a></li>
              <li>
                <a class="btn btn-primary border-rounded-sm shadow-sm" href=""
                  >Login</a
                >
              </li>
              <li>
                <a class="btn" href="">Leaderboard</a>
              </li>
            </ul>
            <div class="nav__menu-btn hide">
              <i class="fas fa-bars"></i>
            </div>
          </nav>
        </header>
        <main class="main-content m-xl">
          <section class="quiz-card-container">
            <article
              class="card question-card m--x-xl border-rounded-md shadow-lg text-center"
            >
              <div class="card__body">
                <div class="card__header">
                  <h2 class="text-2 text-default bold-xl">The Expanse</h2>
                </div>
                <div class="quiz-stats-final p-x-md">
                  <div class="final-score text-center text-success">
                    <span class="text-3 bold-lg">Final Score : </span>
                    <span class="text-3 bold-lg"> 2 </span>
                  </div>
                </div>
                <div class="question p-x-md text-start">
                  <h4 class="p-y-sm">
                    Before the crew got the Rocinante, they were stranded for
                    days aboard the Canterbury's shuttle, named what?
                  </h4>
                </div>
                <div class="options-container p-x-md m-x-sm">
                  <div
                    class="option option1 p-md text-center bg-success text-default border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Knight
                  </div>
                  <div
                    class="option option1 p-md text-center bg-dark border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Pawn
                  </div>
                  <div
                    class="option option1 p-md text-center bg-dark border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Bishop
                  </div>
                  <div
                    class="option option1 p-md text-center bg-dark border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Rook
                  </div>
                </div>
                <div class="question p-x-md text-start">
                  <h4 class="p-y-sm">
                    Before the crew got the Rocinante, they were stranded for
                    days aboard the Canterbury's shuttle, named what?
                  </h4>
                </div>
                <div class="options-container p-x-md m-x-sm">
                  <div
                    class="option option1 p-md text-center bg-dark border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Knight
                  </div>
                  <div
                    class="option option1 p-md text-center bg-danger border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Pawn
                  </div>
                  <div
                    class="option option1 p-md text-center bg-dark border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Bishop
                  </div>
                  <div
                    class="option option1 p-md text-center bg-dark border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Rook
                  </div>
                </div>
                <div class="question p-x-md text-start">
                  <h4 class="p-y-sm">
                    Before the crew got the Rocinante, they were stranded for
                    days aboard the Canterbury's shuttle, named what?
                  </h4>
                </div>
                <div class="options-container p-x-md m-x-sm">
                  <div
                    class="option option1 p-md text-center bg-success text-default border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Knight
                  </div>
                  <div
                    class="option option1 p-md text-center bg-dark border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Pawn
                  </div>
                  <div
                    class="option option1 p-md text-center bg-dark border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Bishop
                  </div>
                  <div
                    class="option option1 p-md text-center bg-dark border-rounded-lg text-4 bold-lg m-y-md"
                  >
                    Rook
                  </div>
                </div>
                <div class="quiz-navigation p-md">
                  <div class="prev-btn btn btn-link">
                    <a href="./question1.html" class=""
                      ><i class="fas fa-backward"></i> &nbsp; Try Again</a
                    >
                  </div>
                  <div class="skip-btn btn btn-link">
                    <a href="./quizes.html" class="" aria-disabled="true"
                      >Home &nbsp; <i class="fas fa-forward"></i
                    ></a>
                  </div>
                </div>
              </div>
            </article>
          </section>
        </main>
        <footer class="footer-container">
          <ul class="footer__links">
            <li>
              <a
                class="btn"
                href="https://www.linkedin.com/in/rishikesh-shinde-1211b5192/"
                ><i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a class="btn" href="https://github.com/rdshinde/Bermuda"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li>
              <a class="btn" href="https://twitter.com/Rishike16406089"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
          </ul>
        </footer>
      </div>
    </div>
    <link rel="stylesheet" href="https://bermuda-css.netlify.app/script.js" />
  </body>
</html>
