<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/fde0352739.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://bermuda-css.netlify.app/style.css" />
    <link rel="stylesheet" href="../style.css" />
    <title>The Quiz</title>
  </head>
  <body>
    <div class="root">
      <div class="whole-content homepage-content">
        <header>
          <nav class="nav">
            <div class="nav__logo">
              <h2>
                <a href="" class="text-offwhite"> The Quiz</a>
              </h2>
            </div>
            <ul class="nav__links">
              <li><a class="btn btn-link active" href="">Home</a></li>
              <li>
                <a class="btn btn-primary border-rounded-sm shadow-sm" href=""
                  >Login</a
                >
              </li>
              <li>
                <a class="btn" href="">Leaderboard</a>
              </li>
            </ul>
            <div class="nav__menu-btn hide">
              <i class="fas fa-bars"></i>
            </div>
          </nav>
        </header>
        <main class="main-content m-xl">
          <div class="overlay modal__action hide"></div>
          <section class="quiz-card-container">
            <article class="card m--x-xl border-rounded-md shadow-lg">
              <div class="card__img-container">
                <img
                  class="card__img img-responsive"
                  src="../assets/expanse.png"
                  alt="Card Image"
                />
              </div>
              <div class="card__body">
                <h2 class="p-x-md">The Expanse</h2>
                <p class="card__content text-1">
                  The Expanse is an American science fiction television series
                  developed by Mark Fergus and Hawk Ostby, based on the series
                  of novels of the same name by James S. A. Corey. The series is
                  set in a future where humanity has colonized the Solar System.
                </p>
              </div>
              <div class="card__footer p-x-md">
                <button class="btn btn-default open-simple-modal">
                  Take a Quiz
                </button>
                <a
                  href="https://www.imdb.com/title/tt3230854/"
                  class="btn btn-link"
                  >Read More...</a
                >
              </div>
            </article>
            <article class="card m--x-xl border-rounded-md shadow-lg">
              <div class="card__img-container">
                <img
                  class="card__img img-responsive"
                  src="../assets/lost_in_space.png"
                  alt="Card Image"
                />
              </div>
              <div class="card__body">
                <h2 class="p-x-md">Lost In Space</h2>

                <p class="card__content text-1">
                  Lost in Space is an American science fiction streaming
                  television series following the adventures of a family of
                  space colonists whose ship veers off course. The series is a
                  reboot of the 1965 series of the same name, inspired by the
                  1812 novel The Swiss Family Robinson.
                </p>
              </div>
              <div class="card__footer p-x-md">
                <button class="btn btn-default open-simple-modal">
                  Take a Quiz
                </button>
                <a
                  href="https://www.imdb.com/title/tt3230854/"
                  class="btn btn-link"
                  >Read More...</a
                >
              </div>
            </article>
            <!-- Rules Modal Start-->
            <div class="modal simple-modal shadow-lg border-rounded-sm hide">
              <div class="modal__header">
                <h3>Let's have a look at rules.</h3>
              </div>
              <img src="../assets/expanse.png" alt="" />
              <div class="modal__body">
                1. You have to solve 5 random questions. <br />
                2. Each correct answer will be awarded with one point. <br />
                3. Each wrong answer you will get -0.25 points. <br />
                4. If you skip the question then no point will be awarded.
                <br />
                Good luck!
              </div>

              <div class="modal__footer">
                <a href="./question1.html" class="btn btn-primary modal__action"
                  >Start Quiz</a
                >
              </div>
            </div>
            <!-- Rules Modal End -->
          </section>
        </main>
        <footer class="footer-container">
          <ul class="footer__links">
            <li>
              <a
                class="btn"
                href="https://www.linkedin.com/in/rishikesh-shinde-1211b5192/"
                ><i class="fab fa-linkedin" ></i>
              </a>
            </li>
            <li>
              <a class="btn" href="https://github.com/rdshinde/Bermuda"
                ><i class="fab fa-github" ></i
              ></a>
            </li>
            <li>
              <a class="btn" href="https://twitter.com/Rishike16406089"
                ><i class="fab fa-twitter" ></i
              ></a>
            </li>
          </ul>
        </footer>
      </div>
    </div>
    <!-- <script src="https://bermuda-css.netlify.app/script.js"></script> -->
    <!-- Code For Modal -->
    <script>
      const overlay = document.querySelector(".overlay");
      const modalAction = document.querySelectorAll(".modal__action");
      const modal = document.querySelectorAll(".modal");
      const openSimpleModal = document.querySelectorAll(".open-simple-modal");
      console.log(openSimpleModal);
      const simpleModal = document.querySelector(".simple-modal");

      openSimpleModal.forEach((modal) => {
        modal.addEventListener("click", () => {
          simpleModal.classList.remove("hide");
          overlay.classList.remove("hide");
        });
      });
      modalAction.forEach((btn) => {
        btn.addEventListener("click", () => {
          overlay.classList.add("hide");
          modal.forEach((ele) => {
            ele.classList.add("hide");
          });
        });
      });
    </script>
  </body>
</html>
